@font-face {
    font-family: 'Stardos Stencil';
    src: url('./fonts/StardosStencil-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stardos Stencil';
    src: url('./fonts/StardosStencil-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Stardos Stencil', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    background-image: url('./img/5_background/background_body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: scroll;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
.close {
    font-family: 'Stardos Stencil', serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 0px rgb(177, 103, 92, 0.9),
        -2px 2px 0px rgb(177, 103, 92, 0.9),
        2px -2px 0px rgb(177, 103, 92, 0.9),
        -2px -2px 0px rgb(177, 103, 92, 0.9);
}

/* Container for canvas and interface */
.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
    border: solid 16px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

#canvas {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

/* Position the loading image over the canvas */
#loadingImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

/* Interface icons */
.interface-icons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.img-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.img-icon:hover {
    scale: 1.1;
}

/* Modal styles */
.modal {
    display: none;
    position: absolute;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgba(177, 133, 92, 0.9);
    padding: 10px;
    border: solid 16px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 20em;
    text-align: center;
}

.modal-content h3, h2 {
    margin: 0 !important;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer !important;
}

.controls-images img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.controls {
    display: flex;
    align-items: center;
}

/* Hide elements */
.hidden {
    display: none;
}

.start-screen-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    cursor: pointer;
    z-index: 99;
    animation: pulse 1.5s infinite;
    transition: all 0.2s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Game Over Screen */
.game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 6;
}

.game-over img {
    width: 570px;
    height: 380px;
}

.hidden {
    display: none;
}

.legal-notice-section {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    position: absolute;
    z-index: 99;
    top: 406px;
    left: 10px;
}

.game-instructions-section {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    position: absolute;
    z-index: 99;
    top: 406px;
    left: 140px;
}

.legal-notice {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border: 4px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

.game-instructions {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border: 4px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

.legal-notice-link {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.game-instructions-link {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

#openLegalNotice {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#openLegalNotice.hidden {
    display: none; /* Popup bleibt ausgeblendet */
}

#gameInstructions {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#gameInstructions.hidden {
    display: none; /* Popup bleibt ausgeblendet */
}

.game-instructions-container {
    max-width: 720px;
    max-height: 90%; /* Begrenzung der Höhe für Scrollen */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px;
    color: white;
    font-size: 18px;

    /* Hier wird der Container scrollbar, aber ohne sichtbare Leiste */
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    text-shadow: 2px 2px 0px rgba(177, 103, 92, 0.9),
        -2px 2px 0px rgba(177, 103, 92, 0.9),
        2px -2px 0px rgba(177, 103, 92, 0.9),
        -2px -2px 0px rgba(177, 103, 92, 0.9);
}

.game-instructions-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.legal-notice-container {
    max-width: 720px;
    max-height: 90%; /* Begrenzung der Höhe für Scrollen */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
    font-size: 18px;

    /* Hier wird der Container scrollbar, aber ohne sichtbare Leiste */
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    text-shadow: 2px 2px 0px rgba(177, 103, 92, 0.9),
        -2px 2px 0px rgba(177, 103, 92, 0.9),
        2px -2px 0px rgba(177, 103, 92, 0.9),
        -2px -2px 0px rgba(177, 103, 92, 0.9);
}

.legal-notice-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.colleted-coins-end-screen {
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 0px rgba(177, 103, 92, 0.9),
    -2px 2px 0px rgba(177, 103, 92, 0.9),
    2px -2px 0px rgba(177, 103, 92, 0.9),
    -2px -2px 0px rgba(177, 103, 92, 0.9);
}