@font-face {
    font-family: 'Stardos Stencil';
    src: url('./fonts/StardosStencil-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stardos Stencil';
    src: url('./fonts/StardosStencil-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Stardos Stencil', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/5_background/background_body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
.close {
    margin-bottom: 0;
    font-family: 'Stardos Stencil', serif;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 40px;
}

/* Container for canvas and interface */
.canvas-container {
    position: relative;
    width: 720px;
    height: 480px;
    border: solid 16px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

#canvas {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

/* Position the loading image over the canvas */
#loadingImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

/* Interface icons */
.interface-icons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.img-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.img-icon:hover {
    scale: 1.1;
}

/* Modal styles */
.modal {
    display: none;
    position: absolute;
    top: 42px;
    left: 176px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgba(177, 133, 92, 0.9);
    padding: 10px;
    border: solid 16px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 20em;
    text-align: center;
}

.modal-content h3,
h2 {
    margin: 0 !important;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    cursor: pointer !important;
}

.controls-images img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.controls {
    display: flex;
    align-items: center;
}

/* Hide elements */
.hidden {
    display: none;
}

.start-screen-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    cursor: pointer;
    z-index: 99;
    animation: pulse 1.5s infinite;
    transition: all 0.2s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Game Over Screen */
.game-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 6;
}

.game-over img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.legal-notice-section {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    position: absolute;
    z-index: 99;
    top: 406px;
    left: 10px;
}

.game-instructions-section {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    position: absolute;
    z-index: 99;
    top: 406px;
    left: 140px;
}

.bottom-buttons-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    /* statt left: 0; kann hier ein kleiner Abstand sinnvoll sein */
    right: 10px;
    /* so wird sichergestellt, dass der Container den gesamten unteren Bereich ausfüllt */
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.legal-notice,
.game-instructions {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 10px;
    border: 4px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}


.legal-notice-link {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.game-instructions-link {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

#openLegalNotice {
    display: none;
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#openLegalNotice.hidden {
    display: none;
}

#gameInstructions {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#gameInstructions.hidden {
    display: none;
}

.game-instructions-container h1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.game-instructions-container {
    padding: 10px;
    max-width: 700px;
    height: 49.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    overflow-y: auto;
    scrollbar-width: none;
}

.game-instructions-container::-webkit-scrollbar {
    display: none;
}

.legal-notice-container h1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.legal-notice-container {
    padding: 10px;
    max-width: 700px;
    height: 49.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    overflow-y: auto;
    scrollbar-width: none;
}

.legal-notice-container p {
    padding: 10px;
}

.legal-notice-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.colleted-coins-end-screen {
    color: white;
    font-size: 28px;
}

.close-modal {
    top: 10px;
    right: 10px;
    font-family: 'Stardos Stencil', serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

.close-modal:hover {
    transform: scale(1.1);
}

.landscape-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    z-index: 9999;
}

/* Touch Controls Container */
.touch-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    display: none !important;
    z-index: 5;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: transparent;
}


/* Styling der Button-Gruppen */
.left-controls,
.right-controls {
    display: flex;
    gap: 10px;
}

/* Styling der Buttons */
.touch-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background: rgba(223, 161, 153, 0.9);
    border: solid 1px white;
}



@media (max-width: 1024px) {
    .canvas-container {
        width: 100vw !important;
        height: 100vh !important;
        min-height: 320px;
        border: none !important;
        border-radius: 0 !important;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .legal-notice-section {
        top: 685px;
    }

    .game-instructions-section {
        top: 685px;
    }

    .modal {
        top: 155px;
        left: 315px;
    }

    .game-instructions-container {
        height: 100% !important;
    }

    .legal-notice-container {
        height: 100% !important;
    }
}

@media (max-width: 768px) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }

    .canvas-container {
        width: 100vw !important;
        height: 100vh !important;
        border: none !important;
        border-radius: 0 !important;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #canvas {
        width: 100vw !important;
        height: 100vh !important;
    }

    .touch-controls {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }

    #loadingImage {
        object-fit: fill !important;
    }

    .modal {
        top: 1px;
    }

    .modal-content {
        width: 315px;
        height: 280px;
        padding: 2.5px;
    }

    .controls-images {
        height: 225px;
    }

    .controls {
        height: 55px;
    }

    .bottom-buttons-container {
        gap: 10px;
    }

    .legal-notice-section {
        top: 300px;
    }

    .game-instructions-section {
        top: 300px;
    }
}

@media (max-width: 932px) {
    .legal-notice-section {
        top: 355px;
    }

    .game-instructions-section {
        top: 355px;
    }

    .modal {
        top: 25px;
        left: 270px;
    }
}

@media (max-width: 915px) {
    .legal-notice-section {
        top: 340px;
    }

    .game-instructions-section {
        top: 340px;
    }

    .modal {
        top: 12px;
        left: 270px;
    }
}

@media (max-width: 896px) {
    .modal {
        top: 14px;
        left: 255px;
    }
}

@media (max-width: 882px) {
    .legal-notice-section {
        top: 270px;
    }

    .game-instructions-section {
        top: 270px;
    }

    .controls {
        height: 55px;
    }
}

@media (max-width: 853px) {
    .legal-notice-section {
        top: 495px;
    }

    .game-instructions-section {
        top: 495px;
    }
}

@media (max-width: 844px) {
    .legal-notice-section {
        top: 315px;
    }

    .game-instructions-section {
        top: 315px;
    }

    .modal {
        top: 2px;
        left: 255px;
    }
}

@media (max-width: 820px) {
    .legal-notice-section {
        top: 470px;
    }

    .game-instructions-section {
        top: 470px;
    }
}

@media (max-width: 740px) {
    .legal-notice-section {
        top: 285px;
    }

    .game-instructions-section {
        top: 285px;
    }
}

@media (max-width: 720px) {
    .legal-notice-section {
        top: 465px;
    }

    .game-instructions-section {
        top: 465px;
    }

    .modal {
        top: 90px;
        left: 190px;
    }
}

@media (max-width: 667px) {
    .legal-notice-section {
        top: 300px;
    }

    .game-instructions-section {
        top: 300px;
    }

    .modal {
        top: 30px;
        left: 155px;
    }
}

@media (max-width: 658px) {
    .legal-notice-section {
        top: 250px;
    }

    .game-instructions-section {
        top: 250px;
    }

    .modal {
        top: 1px;
        left: 170px;
    }
}

@media (max-width: 480px) {
    .modal {
        top: 1px;
        left: 75px;
    }
}