@font-face {
    font-family: 'StardosStencil';
    src: url('./fonts/StardosStencil-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'StardosStencil';
    src: url('./fonts/StardosStencil-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'StardosStencil', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    background: url('./img/5_background/background_body.jpg') no-repeat center center fixed;
    background-size: cover;
}

canvas {
    background-color: black;
}

#game-container {
    position: relative;
    width: 720px;
    height: 480px;
    border: solid 12px rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/9_intro_outro_screens/start/startscreen_2.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#start-button {
    padding: 1em 2em;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 11;
}

#icon-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

#icon-container img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 20;
}


.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a85b53;
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 24px;
}

.modal-content img {
    width: 50px;
}

.modal-content li {
    width: 210px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content ul {
    padding: 0;
}

.modal-content h3 {
    border: solid 2px white;
    border-radius: 8px;
    padding: 8px;
}

.close {
    position: absolute;
    top: 42px;
    right: 255px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}